* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Calibri';
}

body {
    background-image: url(./assets/mercurio-retrogrado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

main {
    margin: 2rem 2rem;
    padding: 1rem;
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

h1 {
    font-size: 40px;
    color: rgb(190, 91, 190);
    margin: 0.5rem 0;
    /* -webkit-text-stroke: 0.5px white; */
}

span {
    color: rgb(202, 76, 76);
    text-transform: uppercase;
}

form {
    padding: 1rem 2rem;
}

div {
    margin: 1rem 0;
}

label {
    color: rgb(100, 165, 111);
    font-weight: 600;
    font-size: 25px;
    /* -webkit-text-stroke: 0.5px white; */
}

input {
    font-size: 25px;
    background-color: rgb(255, 198, 93);
    padding: 0.15em 0.25em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

button {
    font-size: 16px;
    padding: 0.5em 1em;
    background-color: greenyellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#result {
    color: crimson;
    font-size: 25px;
    /* -webkit-text-stroke: 0.5px white; */
    margin: 1rem auto;
    width: 80%;
}