* {
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    background: url(./assets/mercurio-retrogrado.jpg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

h1 {
    font-size: 50px;
    color: rgb(190, 91, 190);
    -webkit-text-stroke: 0.5px white;
    margin: 0;
}

span {
    color: rgb(202, 76, 76);
    text-transform: uppercase;
}

form {
    margin: 1rem 0;
}

div {
    margin: 0.5rem 0;
}

label {
    color: rgb(88, 202, 107);
    font-weight: 600;
    font-size: 30px;
    -webkit-text-stroke: 0.5px white;
}

input {
    font-size: 30px;
    background-color: rgb(255, 198, 93);
}

button {
    font-size: 20px;
    padding: 0.5em 1em;
    background-color: greenyellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#result {
    color: crimson;
    font-size: 40px;
    -webkit-text-stroke: 0.5px white;
}